<div class="container content">
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" (click)="logout();">Logout</button>
        </div>
    </div>
    <div class="col-md-12">
        <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="Feeds">
                <ng-template ngbTabContent>
                    <div class="pt-2" *ngFor="let feed of feedList">
                        <azakaw-feed-card [feed]="feed"></azakaw-feed-card>
                    </div>
    
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Friend List">
                <ng-template ngbTabContent>
                    <div class="pt-2" *ngFor="let user of userList">
                        <azakaw-user-card [user]="user"></azakaw-user-card>
                    </div>
                </ng-template>
            </ngb-tab>
    
        </ngb-tabset>

    </div>
</div>