<ng-container *ngIf="user">

    <div class="card text-center">
        <div class="card-header">{{user.name}}</div>
        <div class="card-body">
            <h5 class="card-title">{{user.username}}</h5>
            <div class="card-text">
                <!-- company start -->
            <div>
                
                <div>Name: {{user.company?.name}}</div>
                <div>Phrase: {{user.company?.catchPhrase}}</div>
                <div>bs: {{user.company?.bs}}</div>
            </div>
            <!-- company end -->

            <!-- address start -->
            <div class="pt-2">
                <h2>About Company: </h2>
                <span>Address: {{ user.address?.street }}, {{ user.address?.suite }}, {{ user.address?.city }} </span>
            </div>
            <!-- address end -->

            <div>
                {{ user.zipcode }}
            </div>
          
        </div>

        </div>

    </div>

</ng-container>